.one-section {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/img/ba1.jpg") no-repeat center;
    background-size: cover;
}

.colour-grey {
    background-color: #323b41;
}

.nav-link-colour {
    color: #9E9E9E;
}

.colour-green {
    color: #76b784;
}

.btn-colour-green {
    background-color: #76b784;
    border: #76b784;
}

.form-textarea::placeholder {
    font-size: 1.25em;
}

footer {
    background: rgb(17, 20, 73);
    background: linear-gradient(90deg, rgb(11, 13, 48) 0%, rgb(28, 41, 110) 50%, rgb(44, 85, 182) 100%);
}

#width {
    width: 18rem;
}